@font-face {
  font-family: "Sinoreta";
  src: url("/fonts/Sinoreta.otf") format("opentype");
  font-display: swap; /* mejora la experiencia de carga */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Width and height is total size of element */
}

.phone-nav {
    display: none;
}

.firstSection {
    background-color: #fffbf7;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondSection {
    background-color: #fffbf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 80px;
}

.thirdSection {
    background-color: #fffbf7;
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 150px;
    color: #FF0080;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 60px;
    color: #FF0080;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
}

h3 {
    font-size: 30px;
    color: #FF0080;
    font-weight: normal;
    font-family: "Raleway", sans-serif;
}

a {
    font-size: 30px;
    color: #FF0080;
    font-weight: normal;
    font-family: 'Bellota Text', cursive;
}

p {
    font-size: 28px;
    font-family: 'Bellota Text', cursive;
}

#bottom {
    display: flex;
    justify-content: space-between;
}

#top {
    display: flex;
    justify-content: space-between;
}


#middle {
    justify-items: center;
    align-items: center;
}

#number {
    text-align: right;
}

#linkedin {
    margin-right: 30px;
}

.links {
    text-decoration: none;
}

.car_imgs:hover {
    transform: scale(1.02);
}

.car_imgs {
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    transform: scale(1.1);
}

.links {
    transition: transform 0.3s ease-in-out
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.half {
    width: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
}

.car_imgs {
    width: 440px;
    margin: 20px;
    height: 300px;
    box-shadow: 0px 5px 20px #AAA;
}

.line {
    width: 1340px;
    height: 70px;
    margin-bottom: 40px;
}

.mobile-line {
    width: 1340px;
    height: 80px;
    margin-bottom: 40px;
    margin-top: 80px;
}
.short {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.long {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.pageFirstSection {
    background-color: #fffbf7;
    display: flex;
    height: 100vh;
}

.pageSecondSection {
    background-color: #fffbf7;
    display: flex;
    height: 100vh;
}

.pageThirdSection {
    background-color: #fffbf7;
    display: flex;
    height: 100vh;
}

.pageImgs {
    height: 100vh;
}

.colors {
    width: 60%;
    margin-top: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    padding: 40px;
}

.center{
    align-items: center;
}

.black {
    color:black;
}

.title {
    font-weight: bold;
}

.subtitle {
    font-size: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffffd6;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(208, 208, 208);
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.image img {
    height: 660px;
    width: 620px;
}

.header {
    font-size: 25px;
}

.web-container-top {
    display: flex;
}

.web-container-bottom {
    display: flex;
}

.mobile-container-top {
    display: flex;
}

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
}

@keyframes text-appear {
    from {
        opacity: .7;
        transform: translateY(100px);
        scale: 0.7;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}

.fix {
    padding-left: 22px;
}

@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Width and height is total size of element */
    }

    .desktop-nav {
        display: none;
    }

    .phone-nav {
        display: block;
    }

    @keyframes text-appear {
    from {
        opacity: .7;
        transform: translateY(100px) scale(0.7);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    }

    .autoShow {
    animation: text-appear 0.8s ease both;
    }


    .car_imgs {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10px;
    height: 100px;
    box-shadow: 0px 5px 20px #AAA;
    }

    .line {
        width: 380px;
        height: 25px;
        margin-bottom: 40px;
    }

    .mobile-line {
        width: 380px;
        height: 25px;
        margin-top: 40px;
    }

    body {
        overflow-x: hidden;
        touch-action: auto;
        overscroll-behavior-x: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .firstSection {
        background-color: #fffbf7;
        padding: 25px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .secondSection {
        background-color: #fffbf7;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .thirdSection {
        background-color: #fffbf7;
        margin-top: 0;
        padding: 50px;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }


    h1 {
        font-size: 60px;
        color: #FF0080;
        font-weight: normal;
    }

    h2 {
        font-size: 30px;
        color: #FF0080;
        font-weight: normal;
    }

    h3 {
        font-size: 20px;
        color: #FF0080;
        font-weight: normal;
    }

        
    a {
        font-size: 20px;
        color: #FF0080;
        font-weight: normal;
    }

    p {
        font-size: 20px;
    }

    .image img {
        margin-top: 65px;
        height: 270px;
        width: 260px;
        border-radius: 50%;
    }

    #bottom {
        display: flex;
        justify-content: center;
    }

    #top {
        display: flex;
        justify-content: space-between;
    }


    #middle {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #number {
        text-align: center;
    }

    #linkedin {
        margin-right: 30px;
    }

    .links {
        text-decoration: none;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    .half {
        width: 50%;
    }

    .text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
    }

    .pages {
        padding-top: 70px;
        background-color: #fffbf7;
    }

    .pageFirstSection {
        padding: 40px;
        padding-bottom: 0px;
        background-color: #fffbf7;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        text-align: justify;
    }

    .pageSecondSection {
        background-color: #fffbf7;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 40px;
        
    }

    .pageThirdSection {
        background-color: #fffbf7;
        display: flex;
        padding: 40px;
        padding-top: 0px;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .pageImgs {
        height: 270px;
        width: 300px;
        margin: 30px auto auto auto;
        margin-top: 30px;
    }

    .pageImgsMiddle {
        height: 270px;
        margin-top: 30px;
        width: 220px;
        margin: 30px auto auto auto;
    }

    .colors {
        margin: 30px auto 0 auto;
        display: block;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        padding: 40px;
    }

    .center{
        align-items: center;
    }

    .black {
        color:black;
    }

    .title {
        font-weight: normal;
        text-align: center;
        font-size: 50px;
    }

    .subtitle {
        font-size: 20px;
        text-align: center;
    }

    header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: #ffffffd6;
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: rgb(208, 208, 208);
        padding: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        font-size: 25px;
        text-align: left;
    }

    .section-paragraph {
        text-align: justify;
    }
}